<div class="wrapper">
 <div class="_container">
                    
    <div class="infoIMG _container">
    
        <img class="authorImg" src="assets/img/folkman.png" alt="user">
            
    </div>
        
    <app-user-info class="info"></app-user-info>
    
    <h1>Most popular articles</h1>

    <div class="main_midle">
     <app-popular-articles class="popular"></app-popular-articles>
     <app-blue class="blue"></app-blue>
    </div>

    <h1>Newest</h1>
    <app-newest class="newest"></app-newest>

    <div class="footer_container _container">
        <div class="backDiv "></div>
        <app-profile-foother class="frontDiv"></app-profile-foother>
    </div>
 </div>
</div>